name: Update Tech Joke

on:
  schedule:
    - cron: '0 8 * * *' # Runs every day at 8 AM UTC
  workflow_dispatch: # Allows manual triggering

jobs:
  update-joke:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Get joke from API
        id: joke_api
        uses: a-h/http-request-action@v1
        with:
          url: 'https://v2.jokeapi.dev/joke/Programming?type=single'
          method: 'GET'

      - name: Extract joke text
        id: joke_text
        run: echo "::set-output name=text::$(echo '${{ steps.joke_api.outputs.response }}' | jq -r .joke)"

      - name: Update README with new joke
        uses: a-h/update-file-action@v1
        with:
          path: README.md
          start: "<!-- JOKE-OF-THE-DAY:START -->"
          end: "<!-- JOKE-OF-THE-DAY:END -->"
          content: ${{ steps.joke_text.outputs.text }}
